*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-flow: column nowrap;
}
.block1{
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(238, 178, 178);
}
    .header{
        display: flex;
        flex-flow: row nowrap;
        background-color: rgb(173, 13, 27);
    }
        .logo, .social{
            flex: 1 1 auto;
            background-color: rgb(204, 37, 37);
        }
        .nav{
            flex: 4 1 auto;
            background-color: rgb(204, 37, 37);
        }
    .subtitle{
        background-color: rgb(224, 111, 111);
    }
        .phrase{
            background-color: rgb(204, 37, 37);
        }
.block2 {
    display: flex;
    background-color: rgb(238, 178, 178);
}
    .articles{
        display: flex;
        flex-flow: row wrap;
        flex: 5 1 auto;
        background-color: rgb(173, 13, 27);
    }
        .article{
            flex: 1 1 40%;
            background-color: rgb(204, 37, 37);
        }
        .foot{
            flex: 1 1 100%;
            background-color: rgb(224, 111, 111);
        }
    .aside{
        flex: 3 1 auto;
        background-color: rgb(224, 111, 111);
    }
        .element{
            background-color: rgb(204, 37, 37);
        }
.footer {
    background-color: rgb(238, 178, 178);
}
    .element3{
        background-color: rgb(204, 37, 37);
    }
